<div class="sidebar width-60">
	list of things to do now (stuff like people to call, stuff to clean, etc.)
	<h3>Current Functionalities</h3>
	<ul>
		<li>
			members
			<ul>
				<li>sign up</li>
				<li>get on waitlist
					<ul>
						<li>change status: add new record</li>
					</ul>
				</li>
				<li>register
					<ul>
						<li>kill the current waitlist record</li>
						<li>edit the current registration</li>
						<li>add a new registration</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="sidebar width-30">
	<div id="start-of-shift" class="box">
		Things to do at the start of a shift
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>
	</div>
	<div id="during-shift" class="box">
		Things to do during a shift
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>
	</div>
	<div id="end-of-shift" class="box">
		Things to do at the end of a shift
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>
	</div>
</div>