<div class="sidebar width-60">
	list of things to do now (stuff like people to call, stuff to clean, etc.)
	<%= render 'recent_posts' %>
</div>
<div class="sidebar width-30">
	<div id="start-of-shift" class="box">
		Things to do at the start of a shift
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>
	</div>
	<div id="during-shift" class="box">
		Things to do during a shift
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>
	</div>
	<div id="end-of-shift" class="box">
		Things to do at the end of a shift
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>
	</div>
</div>