<div class="sidebar width-60">
	<%= render 'home_features' %>
	<%= render 'recent_posts' %>
	<%= render 'almost_done_registrations' %>
	<%= render 'birthday_members' %>
</div>
<div class="sidebar right-sidebar">
	<div id="start-of-shift" class="box">
		Things to do at the start of a shift
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>
	</div>
	<div id="during-shift" class="box">
		Things to do during a shift
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>
	</div>
	<div id="end-of-shift" class="box">
		Things to do at the end of a shift
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>
	</div>
</div>