<div class="box">
	<h3>대기 등록 내역</h3>

	<table>
		<thead>
			<tr>
				<th>테이블 타입</th>
				<th>대기 시작 날짜</th>
				<th>대기 마감 날짜</th>
				<th>대기 담당 직원</th>
			</tr>
		</thead>
		<% @wait_statuses.each do |ws| %>
			<% employee = Employee.find(ws.employee_id)%>
			<tr>
				<td><%= ws.table_type %></td>
				<td><%= ws.start_date %></td>
				<td><%= ws.end_date %></td>
				<td><%= link_to employee.name, employee %></td>
			</tr>
		<% end %>
	</table>
</div>